@charset "UTF-8";
:root {
  --theme-color: #2196f3;
  --primary-color: #e5e5e5;
  --secondary-color: #2f303a;
  --another-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --text-primary: #212121;
  --text-secondary: #757575;
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--primary-font), sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
}

.container,
.hero__container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container,
  .hero__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .hero__container {
    width: 1200px;
  }
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .container-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (max-width: 1199px) {
  .section.section-product {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section.no-padding {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section.no-padding {
    padding-bottom: 60px;
  }
}

.header {
  background-color: var(--primary-white-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}

.header-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }
}

.buttonn-nav__icon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .main-nav {
    background-color: var(--primary-white-color);
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    z-index: 500;
  }
  .main-nav.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: var(--primary-white-color);
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-left: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__list:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__list:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  color: var(--text-primary);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 40px;
  line-height: 46.8px;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--theme-color);
}

.site-nav__link--current {
  color: var(--theme-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--theme-color);
}

@media screen and (max-width: 767px) {
  .site-nav__link--current::after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 84px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 305px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__list + .auth-nav__list {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__list + .auth-nav__list {
    margin-left: 50px;
  }
}

.auth-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #757575;
}

@media screen and (min-width: 768px) {
  .auth-nav__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.auth-nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: var(--text-secondary);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .auth-nav__icon {
    margin-right: 10px;
  }
}

.auth-nav__icon:focus, .auth-nav__icon:hover {
  color: var(--theme-color);
  fill: var(--theme-color);
}

.auth-nav__link {
  color: var(--text-secondary);
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .auth-nav__link {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__link {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__link {
    font-size: 14px;
    line-height: 16px;
  }
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--theme-color);
}

@media screen and (max-width: 767px) {
  .auth-nav__link--current {
    font-size: 34px;
    line-height: 40px;
    color: var(--theme-color);
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__mail {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__tel {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__tel {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__tel {
    width: 10px;
    height: 16px;
  }
}

.auth-nav__mail,
.auth-nav__tel {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .auth-nav__mail,
  .auth-nav__tel {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__mail,
  .auth-nav__tel {
    margin-right: 10px;
  }
}

.auth-nav__icon:hover .auth-nav__mail,
.auth-nav__icon:hover .auth-nav__tel,
.auth-nav__icon:focus .auth-nav__mail,
.auth-nav__icon:focus .auth-nav__tel {
  fill: var(--theme-color);
}

.is-open .buttonn-nav__icon {
  position: relative;
  z-index: 999;
}

.buttonn-nav__crose {
  display: none;
}

.is-open .buttonn-nav__crose {
  display: block;
}

.is-open .buttonn-nav__menu {
  display: none;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .social-networks {
    display: none;
  }
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-networks__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--theme-color);
}

/*Hero*/
.hero {
  text-align: center;
  padding-bottom: 118px;
  padding-top: 118px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile/bg_hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg_hero.jpg");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile/bg_hero@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg_hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet/bg_hero.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg_hero.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet/bg_hero@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg_hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/dextop/bg_hero.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/dextop/bg_hero.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/dextop/bg_hero@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/dextop/bg_hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-top: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 136px;
  font-family: var(--primary-font);
  color: var(--primary-white-color);
  background-color: var(--theme-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

/*Feature*/
.feature {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.feature__title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  margin-top: 0%;
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  color: var(--text-secondary);
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 1200px) {
  .feature__text {
    width: 270px;
  }
}

.feature__list {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__list {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__list:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__list:nth-child(2) {
    padding-bottom: 25px;
  }
}

.feature__list::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--another-color);
  border-radius: 4px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.feature__list--icon-details::before {
  background-image: url(../images/Group.svg);
}

.feature__list--icon-punctuality::before {
  background-image: url(../images/clock.svg);
}

.feature__list--icon-planning::before {
  background-image: url(../images/diagram.svg);
}

.feature__list--icon-technology::before {
  background-image: url(../images/astronaut.svg);
}

/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 460px;
  height: 609px;
  padding: 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  background-color: var(--primary-white-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover {
  color: var(--theme-color);
}

.modal__item {
  padding: 0;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

/*Work*/
.caption {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .caption {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__box {
  position: relative;
}

.product__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/*leaders*/
.leaders {
  background-color: var(--another-color);
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__pro {
    width: 354px;
  }
}

@media screen and (max-width: 767px) {
  .team__pro:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__pro:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

.team__box {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding-bottom: 30px;
  }
}

.team__item {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  margin-top: 0;
}

.team__text {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__icon:focus, .join__icon:hover {
  background-color: var(--theme-color);
}

.join__icon:hover .join__svg,
.join__icon:focus .join__svg {
  fill: var(--primary-white-color);
}

.join__svg {
  fill: #afb1b8;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

/* Клиенты */
.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1199px) {
  .clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__item {
  border-radius: 4px;
  width: 210px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .clients__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .clients__item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .clients__item {
    width: 226px;
  }
  .clients__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  width: 100%;
  height: 100%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover, .clients__icon:focus {
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
}

.clients__svg {
  fill: currentColor;
}

/** FOOTER**/
.footer {
  background-color: var(--secondary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-box {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 60px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__geolocation {
  font-style: normal;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__geolocation:focus,
.address__link:focus,
.address__geolocation:hover,
.address__link:hover {
  color: var(--theme-color);
}

.address__link {
  font-family: var(--primary-font);
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* exhortation */
.exhortation {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .exhortation {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .exhortation {
    margin-left: 70px;
  }
}

.exhortation .exhortation__item {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

/*Стили для Портфолио*/
.buttons {
  margin-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.buttons__list:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .buttons__list:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.button__nav {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: none;
  font-family: var(--primary-font);
  color: var(--text-primary);
  background-color: var(--another-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__nav:hover, .button__nav:focus {
  color: var(--primary-white-color);
  background-color: var(--theme-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Content*/
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__item {
  display: block;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .content__item {
    width: 450px;
    margin-right: 0;
  }
  .content__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content__item {
    width: 354px;
  }
  .content__item:nth-child(odd) {
    margin-right: 30px;
  }
  .content__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .content__item {
    margin-right: 30px;
  }
  .content__item:nth-child(n + 7) {
    margin-bottom: 0;
  }
  .content__item:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.content__item:hover, .content__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content__link:hover .popup-box__text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.content__link:hover .popup-box::before,
.content__link:focus .popup-box::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.popup-box {
  position: relative;
  overflow: hidden;
}

.popup-box::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-box__text {
  display: block;
  position: absolute;
  left: 24px;
  bottom: 63px;
  width: 322px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  opacity: 0;
}

.description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .description {
    height: 146px;
  }
}

.description .description__title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0;
}

.description .description__text {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 1.87;
}

/*Form-modal*/
.form {
  margin-top: 12px;
}

.form .form__box {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: var(--text-secondary);
  font-size: 12px;
  position: relative;
}

.form .form-button {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  cursor: pointer;
  background-color: #188ce8;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  -webkit-transition: 0.25ms linear border;
  transition: 0.25ms linear border;
  cursor: pointer;
}

.form__input:focus {
  outline: none;
  border: 1px solid var(--theme-color);
}

.form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  font-family: inherit;
  resize: none;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
}

.form__comment:focus {
  outline: none;
  border: 1px solid var(--theme-color);
}

.form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .form__comment {
    width: 448px;
  }
}

.form__input:focus + svg {
  fill: var(--theme-color);
}

.form__icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transition: 0.25ms linear;
  transition: 0.25ms linear;
}

.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-box {
  font-size: 12px;
  color: var(--text-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .check-box {
    font-size: 14px;
  }
}

.check-box::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 1.5px solid var(--text-primary);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .check-box::before {
    margin-right: 9px;
    margin-left: 15px;
  }
}

.policy-checkbox:checked + .check-box::before {
  background-color: var(--theme-color);
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1.5px solid var(--theme-color);
}

.check-box__link {
  color: var(--theme-color);
  text-decoration: underline;
}

/* footer-form */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wrapper-form {
    text-align: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-form {
    margin-left: 93px;
  }
}

.wrapper-form .wrapper-form__item {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form .footer-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--secondary-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
}

.footer-form .footer-form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-form .footer-form__input {
    width: 358px;
  }
}

.footer-form__btn {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--theme-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  margin-left: 12px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-white-color);
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .footer-form__btn {
    margin-top: 20px;
  }
}

.footer-form__btn .footer-form__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.logo {
  color: var(--text-primary);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__part,
.footer-logo__part {
  color: var(--theme-color);
  font-family: var(--secondary-font);
}

.footer-logo {
  display: inline-block;
  color: var(--primary-white-color);
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */