/*Стили для Портфолио*/
.buttons {
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons__list:not(:last-child) {
  margin-right: 8px;
}
.button__nav {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: none;

  font-family: var(--primary-font);
  color: var(--text-primary);
  background-color: var(--another-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--theme-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*Content*/
.content {
  display: flex;
  flex-wrap: wrap;
}
.content__item {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-child(3n + 3) {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.content__link:hover .popup-box__text {
  opacity: 1;
  transform: translateY(0);
}
.content__link:hover .popup-box::before,
.content__link:focus .popup-box::before {
  transform: translateY(0);
  opacity: 1;
}
.popup-box {
  position: relative;
  overflow: hidden;
  &::before {
    display: inline-block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.popup-box__text {
  display: block;
  position: absolute;
  left: 24px;
  bottom: 63px;
  width: 322px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  opacity: 0;
}
.description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  .description__title {
    color: var(--text-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    margin-top: 0;
  }
  .description__text {
    color: var(--text-secondary);
    font-size: 16px;
    line-height: 1.87;
  }
}
